@import "tailwindcss";

@plugin '../hero.ts';

@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@custom-variant dark (&:is(.dark *));

@theme {
    --font-sans: "font", sans-serif;
    --font-mono: "monospace", monospace;

    --color-primary: #7F56D9;
    --color-primary-foreground: #FFFFFF;

    --radius-lg: 0.75rem;
    --radius-md: 0.5rem;
    --radius-sm: 0.25rem;
}

@layer base {
  :root {
    --primary: 259 64% 59%;
  }
  .dark {
    --primary: 259 64% 59%;
  }
}